.quen-mat-khau {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f4f8;
    &_box {
        &-info1 {
            max-width: 444px;
            width: 100%;
            padding: 24px;
            box-shadow:
                rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
                rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            margin-bottom: 20px;
            border-radius: 5px;
            background-color: #1976d2;
            color: white;
        }
        &-info2 {
            max-width: 444px;
            width: 100%;
            padding: 24px;
            border-radius: 5px;
        }
        &-email {
            box-shadow:
                rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
                rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            background-color: white;
            border-radius: 5px;
        }
    }
}
