@import '../../scss/responsive.scss';

.left-video {
    overflow-y: auto;
    height: 96vh;
}

// .right-video {
//     overflow-y: auto;
//     height: 90vh;
//     @include xs{
//         height: 100%;
//         width: 100%;
//     }
//     iframe {
//         width: 100%;
//         height: 100%;
//     }
// }

// ti le khung

.right-video {
    overflow-y: auto;
    .name-baihoc {
        font-weight: 600;
        font-size: 18px;
        padding: 10px 0 20px 20px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
        @include xl{
            margin-bottom: 0;
        }
    }
    @include xs {
        padding-top: 30px;
    }
    @include sm {
        padding-top: 30px;
    }
    @include xl {
        padding-top: 0;
    }
    video{
        @include xl{
            max-height: 80vh;
            width: 100%;
            object-fit: cover;
        }
    }
}
