.header {
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #2d3436;
}

.black {
    color: #1c1d1f;
}

.listItem {
    /* padding: 0 0 0 1rem; */
}

.itemText {
    margin-left: -1rem;
}