.cardBody {
    padding: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4;
}

.price {
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-right: 1rem;
    color: orange;
}

.button,
.footerButton {
    display: block;
    width: 100%;
    margin: 0.5rem auto;
    height: 3rem;
}

.buttonsWrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8f96a3;
}

.footerButton {
    width: fit-content;
    border: none;
    border-bottom: 2px solid #000;
    background-color: transparent;
    padding: 0 auto;
    height: fit-content;
}

.trainingSectionTitle {
    margin: 0 0 0.2rem 0;
    font-weight: 700;
    font-size: 1.2rem;
}

.trainingSectionText {
    margin-left: 0.3rem;
}

.tryUdemyBusinessButton {
    width: 100%;
    height: 2rem;
}

.hide {
    display: none;
}

@media only screen and (min-width: 1080px) {
    .mainContainer {
        display: initial;
    }
}
